html {
background-image: linear-gradient(to bottom, #fdd588, #feca8b, #fcc090, #f7b894, #efb099, #ebab9b, #e7a69c, #e2a29e, #e29f9f, #e29ba0, #e298a2, #e195a4);
 }
 canvas {

    box-shadow: 0 0  20px 10px #78262C;
    border-radius: 10px;
  }
  .row1{
    display: flex;
  justify-content: flex-start;

  }
  .row1-wrap{
    position: absolute;
      height: 95%;
    width: 20%;
  }
  .btn-back {
    background-color: #FEC75E;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
        font-family: 'DotGothic16', sans-serif;
        font-size: 10pt;
        max-width: 90%;
        height: 100%;
  }
  .btn-back-wrapper {
    display: flex;
    justify-content: center;
    height: 12%;
    width: 100%;
    position: absolute;
    top: 1%
  }


.container {
  display: flex;
  justify-content: center;
}
.callout {
  position: fixed;
      width: 55%;
      top: 2%;
    max-width: 800px;
z-index: 10;
}

.callout-header {
  padding: 25px 0;
  background: #555;
  font-size: 26pt;
  color: white;
  text-align: center;
}

.callout-container {
  padding: 10px 60px 30px 60px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 25pt;
}
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
.img-sign {
  height: 30px;
  width: 30px;
}

/* time */
.timer-wrapper {
  position: absolute;
top: 90%;
display: flex;
justify-content: center;

width: 100%;
position: absolute;
}

.timer {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
      text-align: center;
}
@media (min-height: 800px) {
  .btn-next, .btn-back {
    max-height: 80%;
  }
}
